#editor {
    right: 0;
    overflow-y: scroll;
    height: 80vh;
    position: relative;
}

.editor_inform-page-section {
    width: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 25vh;
    color: #BBBBBB;
}

.editor_add-page-section_button {
    height: 45px;
    color: #BBBBBB;
}


.selected {
    border: 1px solid blue;
    padding: 10px;
    color: white;
}

[contenteditable] {
    outline: 0px solid transparent;
    width: 0;
    height: 0;
  }
  