
.sideBar_nav_continer {
    padding: 0;
    margin: -25px;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  .sidebar_dev_continar {
    padding: 0;
    margin: 0;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgb(38, 38, 65);
    transition: all .5s ease;
  }
  
  .sidebar_Header {
    padding-left: 10px;;
    background-color: rgb(38, 38, 65);
    line-height: 0px;
    margin: 9px;
    margin-top: 29px;
  }
  
  .sidebar_Header_h1 {
    font-size: 18px;
    color: white;
    padding-left: 10px;
    margin-top: 39%;
    padding-bottom: 12px;
    margin-left: 20%;
  }
  
  .sidebar_Header_p {
   font-weight: lighter;
   font-size: 10px;;
   padding-top:0 ;
  }
  
  .sidebar_Header_p_setUp {
   font-size: 13px;
   font-weight: lighter;
  }
  
  .sidebar_ul {
    list-style: none;
    padding-left: 2px;
    border: 1px solid #383d46;
    border-width: thin;
    border-left: hidden;
    border-right: hidden;
    /* border-top: hidden; */
    padding-left: 16px;
    padding-top: 25%;
    padding-right: 31px;
    padding-bottom: 27px;
  }
  
   .sidebar_ul_li {
    padding : 0px
  }
  
  .sidebar_dev_continar .sidebar_ul a{
    display: block;
    height: 100%;
    width: 100%;
    font-size: 15px;
    color: white;
    padding-top: 19px;
    padding-bottom: 8px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  
  
  .sidebar_ul li:hover a{
    padding-left: 30px;
  }
  
  .sidebar_dev_continar .sidebar_ul a i{
    margin-right: 10px;
  }
  
  
  #check{
    display: none;
  }
  
  .sidebar_lable #btn,.sidebar_lable #cancel{
    position: absolute;
    background: #0a577a;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .sidebar_lable #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 5px;
    transition: all .5s;
  }
  
  .sidebar_lable #cancel{
    z-index: 1111;
    left: -195px;
    top: 9px;
    font-size: 29px;
    background: #6e9db3;
    padding: 5px 12px;
    transition: all .5s ease;
  }
  
  #check:checked ~ .sidebar_dev_continar{
    left: 0;
  }
  
  #check:checked ~ .sidebar_lable #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  
  #check:checked ~ .sidebar_lable #cancel{
    left: 195px;
  }
  
  #check:checked ~ section{
    margin-left: 250px;
  }
  /* Footer */

  .sidebar_footer { 
    height: 41%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  
  }

  .btn-Upgrad-footer {
    width: 80%;
    font-size: 12px;
    color: white;
    background-color: rgb(180, 78, 180);
    border-radius: 2cm;
    margin-left: -21px;
    margin-top: 15%;
  }

  .sidebar_footer-btn_border {
     padding-left: 67px;
  }
  
  .edit_info_footer {
    width: 100%;
    height: 11%;
  }
  
  .edit-footer-pragraph {
    font-size: 13px;
    color: white;
    padding-left: 72px;
    border: 1px solid #383d46;
    border-bottom: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-top: 10%;  
}

  .edit-icons-space {
    padding-right: 5px;;
  }
 .my-page{
   display: flex;
   align-items: center;
 }
