body {
  font-family: 'Noto Sans TC', sans-serif;}

.box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  background-color:  rgba(225, 233, 237);
  padding-bottom: 90px;

}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   margin-left: 70px;
   margin-top: 70px;
}

.container-div { 
  width: 340px;
  height: 250px;
  margin: 15px;
  padding-top: 70px;
  text-align: center;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.875rem;
  border: none;
  background-color: white;

}

.container-div-create {
  width: 340px;
  height: 250px;
  text-align: center;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: white;  

}

.container-div:hover {
 transform: scale(1.1);

}

.container-div-create:hover {
 transform: scale(1.1);

}  

.container-div:hover::after {
  opacity: 1;

}

.header-box {
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 15px;
  height: 150px;
  background-color:rgb(252, 252, 252);

}

.header-position {
   float: left;
}

.btn-create {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 0.4375rem 2.25rem rgba(0, 0, 0, 0.2);
  background-color: #0000000a;
  float: right;
  margin-right: 90px;
  margin-top: 30px;
  width:200px;

}

#p {
  position: absolute;
  margin-left: 90px;
  margin-top: 30px;
  cursor: pointer;
  font-size: smaller;
  color : rgb(55, 56, 59);
}

#p:hover {
  font-weight: bold;
}

.icons {
  color:  purple;
  padding-top: 10px;
}

.icon-position {
  text-align: center;
}

.div-text-create {
  color: purple;
  font-size: 21px;
  padding-top: 20px;
  font-family: 'Old Standard TT', serif;
}

.btn-create-div {
  border-radius: 50px;
  background-color: rgb(172, 76, 187);
  color: white;
  width: 230px;
  margin: auto;
}

.font {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: smaller;
  color : rgb(55, 56, 59);

}

footer {
  padding-top: 0;
  background-color: white;
}

