body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.box {
  /* display: flex; */
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  background-color:  rgb(240, 242, 243);
  padding-bottom: 100px;
  padding-left: 0;
  color : rgb(55, 56, 59);
  font-size: x-large;
}

.flex-container {
   display: flex;
   flex-wrap: wrap;
   margin-left: 90px;
}

.container-div { 
  width: 340px;
  height: 250px;
  margin: 15px;
  padding-top: 70px;
  text-align: center;
  line-height: 70px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1.875rem;
  border: none;
  background-color: white;

}

.container-div-create {
  width: 340px;
  height: 250px;
  text-align: center;
  margin: 15px;
  font-family: 'Roboto', sans-serif;
  border: none;
  background-color: white;  
  box-sizing: border-box;

}

.container-div:hover {
 transform: scale(1.1);

}

.container-div-create:hover {
 transform: scale(1.1);

}  

.container-div:hover::after {
  opacity: 1;

}

.header-box {
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 15px;
  height: 150px;
  background-color: white;

}

.header-position {
   float: left;
}

.btn-create {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 0.4375rem 2.25rem rgba(0, 0, 0, 0.2);
  background-color: #0000000a;
  float: right;
  margin-right: 90px;
  margin-top: 30px;
  width:200px;

}

#p {
  position: relative;
  margin-left: 90px;
  margin-top: 100px;
  cursor: pointer;
  font-size: smaller;
  color : rgb(55, 56, 59);
}

#p:hover {
  font-weight: bold;
}


.div-text-create {
  color: rgb(128, 65, 128);
  font-size: 21px;
  padding-top: 25px;
  background-color: #fcf9f91c;
  font-family:Cambria, Georgia, serif;  
  padding-bottom: 0;
  margin: 0;
}


.btn-create-div {
  border-radius: 50px;
  background-color: rgb(128, 65, 128);
  color: white;
  width: 230px;
  margin: auto;
}

#pargraph-card-craete {
  padding: 25px;
  padding-top: 0;
}

.font {

  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: smaller;
  padding-left: 2px;
  padding-top: 2px;
}

footer {
  padding-top: 0;
  background-color: white;
}

