
.box {
  flex-wrap: wrap;
  box-sizing: border-box;
  margin: auto;
  background-color:  rgb(240, 242, 243);
  padding-bottom: 100px;
  color : rgb(55, 56, 59);
  font-size: x-large;
  min-height: 80vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  margin-left: 20vh;
  padding-top: 10vh;
}

.container-div { 
  width: 340px;
  height: 250px;
  margin: 15px;
  padding-top: 70px;
  text-align: center;
  line-height: 70px;
  border: none;
  background-color: white;
  border-radius: 20px;
}


.container-div-create {
  width: 340px;
  height: 250px;
  text-align: center;
  margin: 15px;
  border: none;
  background-color: white;  
  box-sizing: border-box;
  border-radius: 20px;

}

.container-div:hover {
 transform: scale(1.1);

}

.container-div-create:hover {
 transform: scale(1.1);

}  

.container-div:hover::after {
  opacity: 1;

}

.header-box {
  box-sizing: border-box;
  padding-left: 100px;
  padding-top: 15px;
  height: 150px;
  background-color: white;

}

.header-position {
   float: left;
}

.btn-createe {
  cursor: pointer;
  border-radius: 50px;
  box-shadow: 0 0.4375rem 2.25rem rgba(0, 0, 0, 0.2);
  background-color: #0000000a;
  float: right;
  margin-right: 90px;
  margin-top: 30px;
  width:200px;

}

.dashboard-title{
  padding-left: 15vh;
  padding-bottom: 20px;
  color: #162d3d;
  padding-top: 10vh;
  line-height: 18px;
  background-color: white;
}

.dashboard-title > span{
 font-size: 20px;
 font-weight: 100;
}

.dashboard-title > h1{
  font-weight: bold;
  font-size: 30px;
  
}

.div-text-create {
  font-size: 18px;
  padding-top: 40px;
  font-weight: bold;
  padding-bottom: 0;
  margin: 0;
}

.btn-create-div {
  border-radius: 50px;
  background-color: #990066;  color: white;
  width: 250px;
  margin: auto;
  color: white;
  right: 42px;
  bottom: 42px;
  font-size: 20px;
}

.btn-create-div:hover {
  background-color: #990066;
  color: white;
}

.pargraph-card-craete {
  padding: 18px;
  font-weight: 100;
  padding-top: 0;
}


