.continer {
    width: 100%;
    display: inline-flex;
}

.left {
    float: left;
    width: 45%;
    height: 1000px;
    background-color: rgba(0, 128, 255);
}

.right {
    width: 50%;
    background-color: white;
}

.left-text {
    color: white;
    font-size: 60px;
    margin: auto;
    width: 60%;
    margin-top: 25%;
} 
.header-title {
   
    color: white;
    font-size: 60px;
    margin: 50px;
}
.back {
    position: absolute;
    margin-left: 60px;
    margin-top: 20%; 
    color : white;
    font-size: x-large;
    font-size: 20px;
    font-family: 'Scope One', serif;
    font-weight: lighter;
}

.back:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
  }


   .icons {
      padding: 5px; 
      font-weight: lighter; 
  } 
  
  .form-continer {
   background-color: rgb(231, 230, 228);
   margin-left: 25px;
   margin-top: 300px;
   width: 85%;
   padding:10px;
  }

  input {
      width: 90%;
      display: inline-block;
  }
  label {
      padding: 10px;
  }