.continer {
    width: 100%;
    display: inline-flex;
}

.left {
    float: left;
    width: 45%;
    height: 1000px;
    background-color: rgba(0, 128, 255);
}

.right {
    width: 50%;
    background-color: white;
}

.left-text {
    color: white;
    font-size: 60px;
    margin: auto;
    width: 60%;
    margin-top: 25%;
} 

.header-title {
   
    color: white;
    font-size: 60px;
    margin: 50px;
}

.back {
    position: absolute;
    margin-left: 60px;
    margin-top: 20%; 
    color : white;
    font-size: x-large;
    font-size: 20px;
    font-family: 'Scope One', serif;
    font-weight: lighter;
}
.next {
    margin-top: 15%;
    margin-left: 85%;
    border-radius: 2pc;
    padding: 8px;
    width: 100px;
}

.back:hover {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    position: fixed;
}


.icons {
      padding: 5px; 
      font-weight: lighter; 
} 
  
.form-position {
   width: 100%;
   padding:10px;
   margin-left: 25px;
   margin-top: 250px;
   padding-left: 90px;
   justify-content: center;
}

.input-border {
    border: none;
    opacity: 0.7;
    font-size: 25px;
    color: rgb(54, 56, 56);
    font-variant-caps: all-petite-caps;
}
.label-color {
   color: rgb(96, 99, 99);
   font-size: 20px;
}

 

