.background-profile-color {
    background-color:#ebeef4 ;
}


.profile-continer-main {
    height:100vh;
    width: 100%;
    box-sizing: border-box;
    color: rgb(30, 51, 68);
    background-color:#ebeef4 ;
    font-family: 'Open Sans', sans-serif;
}

.image-div-container{
    display: flex;
    margin-left: 42%;
    margin-top: -25px;
    position: absolute;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
}

.profile-image {
    margin: auto;
    width: 40%;
    border: 1px solid gray;
    
}

.image-Pragraph-p {
        font-size: 15px;
        font-weight: 100;
        color: rgb(98, 101, 104);
        font-family: 'Open Sans', sans-serif;
        padding: 0;
        margin-top: 98px;
        margin-bottom: 0;
        padding-left: 25px;
}

.profile-container {
    width: 60%;
    height: 70vh;
    display: flex;
    margin-left: 35%;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 6px 7px 12px  #BAC4CF;    
}

.profile-continer-input {
    padding-left: 35px;
    width: 40%;
    height: 97%;
}

.profile-ImageContiner-div {
    margin-top: 84px;
}


.btn-create {
    width: 10%;
    margin-top: 10px;
    border-radius: 50px;
    background-color: #fcf9f91c;
    font-family:Cambria, Georgia, serif; 
}

.button-style-forCreate {
    width: 25%;
    margin-top: 20px;
    margin-left: 40px;
}

.btn-create-UploadImage {
    margin-top: 21px;
    font-size: 17px;
    font-weight: 100;
    width: 100%
}

.profile-input-style {
    border: none;
    opacity: 0.5;
    font-size: 20px;
    margin: 6px;
    padding: 10px;
    width: 53%;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    border-radius: 1ch;
    border: 1px solid rgb(1, 124, 255);
} 

#profile-h1-text {
    margin-left: 35%;
    padding-bottom: 39px;
    padding-top: 25px;
    color: rgb(34, 56, 74);
    font-size: xx-large;
    font-family: 'Open Sans', sans-serif;
}
.profile-basic-Infotext{
    font-size: 25px;
    padding: 0;
    font-weight: 100;
    padding-bottom: 11px;
    color: rgb(30, 51, 68);
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #d9d7d7;
}

.input-email {
    background-color: hidden;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    color: slategrey;
    margin: auto;
    padding: 0;
    margin-top: -120px;
}

.profile-input-label {
    padding-right: 65px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: 100;
    color: rgb(30, 51, 68);
}

.input-password {
    padding-right: 36px; 
}


.pragraph-profile-setting {
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: darkslategrey;
}


.input-email-div-continer {
    width:250%;
    margin-top: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d7d7;
}

.hrozinatal-bottom {
  width:185%;
  border-bottom: 1px solid #d9d7d7;

}


.btn-file {
    position: absolute;
    overflow: hidden;
    width: 41px;
    margin-left: -24px;
    margin-top: 50px;
    border-radius: 7ch;
    color: #fff;
    background-color: #dbdde0;
    border-color: #c9d2dc;
}

.btn-file input[type=file] {
    position: absolute;
    top: 20px;
    right: 20px;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.profile-camera-icones {
    width: 39px;
}