.editor-navbar {
    background-color: white !important;
    border-bottom: 1px solid whitesmoke;
    @media (min-width: 1200px) { 
        height: 10vh;
    }
}

.editor-nav-item {
    padding: 0;
    margin-left: 45px;
    font-size: 18px;
    text-align: center;
}

.editor-nav-link {
    color: #111111 !important;
    font-family: 'Questrial', sans-serif;
}
.editor-navbar-ul {
   
}