li {
    padding:20px 20px 20px 20px;
    width:100%;
    color:black; 
    font-size:20px
}


.sideMenu {
    position: fixed;
    bottom: 0vh;
    left: 0px;
    max-height: 75vh;
    z-index: 998;
    margin-bottom: 5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 15px 15px 15px 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 200px;
    margin: auto;
}

.btn-rounded-purble {
    background-color: #990066;
    color: whitesmoke;
    width: 130px;
    border-radius: 25px;
}

.subMenu {
    position: fixed;
    top: 20vh;
    left: 155px;
    height: 75vh;
    display: none;
    width: 40vw;
    overflow-y: scroll;
    overflow-x: hidden;
}
.subMenu:hover {
    display: block;
}
.sideMenu > ul > li > button:hover > ul {
    display:block;
}

.sideMenu > ul > li > button > ul > li {
    background-color: whitesmoke;
}

.sideMenu > ul > li > button > ul > li:hover {
    color: #007bff;
    background-color: rgba(238,238,238,.5);
    padding-left: 52px;
}

.sideMenu-menu {
    display: none;
}

.display {
    display: block;
}
