/* #navbarResponsive > ul >  li:hover{
    color: #007bff !important;
    cursor: pointer;
}
#navbarResponsive > ul >  li{
    padding: 15px 20px 15px 20px;
}
#navbarResponsive > ul >  li > a{
    font-size: 17px;
}
#publish{
    background-color: #007bff;
}
#publish > a{
    color:white;

}
.Navar{
    background-color: white;
    color: black;
    height: 67px;
    box-shadow: 0px 0.8px 0px #9e9e9e1f;
    border-bottom: 1px solid #80808033;
}

.NavarEdit{
    padding-right: 10%;
    padding-left: 7.5%;
}
.navedit{
    padding: 0px 0px 0px 0px;
}
#navbareditor > ul > li{
    font-size: 15px;
    padding: 5px 5px 5px 5px;
}
.page-btn{
    padding-top: 11px;
    padding-bottom: 11px;
    border-radius: 0px;
    background-color: #007bff !important;
    border-color: #007bff !important;
} */

.header {
    border-bottom: 1px solid rgba(199, 199, 199, 0.4);
   

}
.fixed-style{
    box-shadow: 0 1px 5px 0 rgba(41,85,115,.21);
    height:60px;
}
.user-info{
    display: flex;

}
.user-info > img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
    margin-right: -8px;
}
#dropdownMenuButton{
    
    color:#162d3d !important;
    padding-left: 20px;
    font-size: 16px !important; 
}
#dropdownMenuButton:focus-within{
  border: none;
  
}
#dropdownMenuButton:active, #dropdownMenuButton:hover{
    color: #3899ec  !important;    
  }
.bord{
    width: 2px;
    height: 30px;
    background-color: #dfe5eb;
    margin-right: 7px;
    -ms-flex-item-align: center;
    align-self: center;
  }